* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #c9c9c9;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* MAIN */

main {
    color: #fff;
    width: 100%;
    height: 95vh;
    background-image: url(/assets/coworking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main h1 {
    font-size: 5rem;
    animation: welcomeh1 3s;
}

main h3 {
    font-size: 3rem;
    font-weight: 400;
    animation: welcomeh3 3s;
}

@keyframes welcomeh1 {
    from {
        font-size: 0rem;
        opacity: 0%;
    }

    to {
        font-size: 5rem;
        opacity: 100%;
    }
}

@keyframes welcomeh3 {
    from {
        font-size: 0rem;
        opacity: 0%;
    }

    to {
        font-size: 3rem;
        opacity: 100%;
    }
}

/* LOCAL */

#cw {
    width: 80%;
    margin: auto;
}

.headline {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

.cw-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center
}

.cw-img img {
    margin: 10px;
    max-width: 350px;
    width: 100%;
}

/* O COWORKING */

#tcw {
    width: 100%;
    padding: 20px;
    color: #fff;
    background: linear-gradient(45deg, #3B4552, #B53000, #3B4552, #17b250);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.cw-text {
    width: 50%;
    text-align: center;
    margin: 25px auto;
}

.white {
    color: #fff;
}

/* PRICES */

#prices {
    color: #fff;
    width: 100%;
    padding: 10px;
    background: url(/assets/memphis-blue-background-with-halftone-line-elements/SL-043021-42650-28.jpg);
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    cursor: grab;
}

.cards h3 {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    background-color: #002e75;
}

.prices-cards {
    text-align: center;
    margin: 15px;
    padding: 20px;
    background-color: #000000b9;
    border: solid #fff;
}

hr {
    width: 200px;
    margin: 20px;
    height: 5px;
    border: none;
    background-color: #ffffff;
}

.prices-cards-white {
    text-align: center;
    margin: 15px;
    padding: 20px;
    background-color: #ffffffb9;
    color: #000;
    border: solid #fff;
}

.prices-cards-white h3 {
    color: #fff;
}


.prices-cards-white hr {
    width: 200px;
    margin: 20px;
    height: 5px;
    border: none;
    background-color: #000000;
}

.prices-cards-white li {
    list-style: none;
    margin: 15px;
}

.prices-cards li {
    list-style: none;
    margin: 15px;
}

.download {
    text-align: center;
    margin: 25px;
}

.download a {
    text-decoration: none;
    color: #fff;
    border: solid 2px #fff;
    padding: 15px;
    border-radius: 30px;
    background-color: #000000b9;
}

/* CLIENTS */

#client-container {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
}

.image-container img {
    max-width: 200px;
    width: 100%;
    height: 150px;
    margin: 5px;
    cursor: pointer;
}

#show-more-btn,
#show-less-btn {
    border: solid #000;
    border-radius: 50px;
    margin: 20px auto;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    cursor: pointer;
}

/* FOOTER */


footer {
    background-color: #22262F;
    color: #fff;
    padding: 20px;
    display: flex;
}

.logo-footer {
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo-footer img {
    max-width: 300px;
    width: 100%;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-container a{
    text-decoration: none;
    color: #fff;
}

.inst ul {
    list-style: none;
    margin: 10px;
}


.atend ul {
    list-style: none;
}

.inst ul li {
    list-style: none;
    margin-top: 10px;
}


.atend ul li {
    list-style: none;
    margin-top: 10px;
}


@media screen and (max-width: 900px) {

    footer {
        background-color: #22262F;
        color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }


    /* MAIN */

    main {
        color: #fff;
        width: 100%;
        height: 95vh;
        background-image: url(/assets/coworking.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    main h1 {
        font-size: 3rem;
        animation: welcomeh1 3s;
    }

    main h3 {
        font-size: 1rem;
        font-weight: 400;
        animation: welcomeh3 3s;
    }

    @keyframes welcomeh1 {
        from {
            font-size: 0rem;
            opacity: 0%;
        }

        to {
            font-size: 3rem;
            opacity: 100%;
        }
    }

    @keyframes welcomeh3 {
        from {
            font-size: 0rem;
            opacity: 0%;
        }

        to {
            font-size: 1rem;
            opacity: 100%;
        }
    }

    /* FOOTER */


    footer {
        background-color: #22262F;
        color: #fff;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .logo-footer {
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .inst {
        margin: 10px;
    }

    .atend {
        margin: 10px;
    }



}

@media screen and (max-width: 400px) {


    main h1 {
        font-size: 2.5rem;
        animation: welcomeh1 3s;
    }

    @keyframes welcomeh1 {
        from {
            font-size: 0rem;
            opacity: 0%;
        }

        to {
            font-size: 2.5rem;
            opacity: 100%;
        }
    }

}