* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* NAV */

nav {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #22262F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    max-width: 150px;
    width: 100%;
}

/* TEXTO */

.content {
    display: flex;
}

.text {
    width:100% ;
    margin: 20px;
}

.text h3 {
    text-align: center;
}

.text p {
    padding: 40px;
}

/* COWORKING */

.box {
    width: 100%;
    margin: 20px;
}

.photos img {
    margin: 10px;
    max-width: 320px;
    width: 100%;
}


@media screen and (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}